{% extends 'base.html' %}
{% load static %}
{% block title %}
	Despre noi
{% endblock title %}
{% block content %}
    
</div>
    <div class="container-fluid">
        <div class="row h-100" style="overflow: hidden;">
            <button class="futura" onclick="topFunction()" id="myTopBtn" title="Go to top">back to top ────</button>
            <div class="col-3" style="background-color: #121729; text-align: center;">
                <img src="{% static 'vs_title.jpg' %}" draggable="false" class="img-fluid" style="width: 80%; margin-top: 10%; margin-left: 10%;  margin-right: 10%;">
                <pre><p class="futura" style="font-size: 1.5vw; color: #FFFFFF">C  L  U  J    N  A  P  O  C  A   •   R  O  M  A  N  I  A</p></pre>
                <pre><button class="apply_txt" id="myApplyBtn" style="font-size: 0.7 vw;"> ───  A   P   L   I   C   Ă</button></pre>
            </div>
            <div class="col-9" style="text-align: center;">
                <div class="row" style="margin-bottom: 0%;">
                    <pre class="futura" style="font-size: 3.25vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%;">D    E    S    P    R    E        N    O    I</pre>
                </div>
                
                {% comment %} IMG 1 LEFT {% endcomment %}
                <div class="row" style="margin-top: 5%;">
                    <div class="col-7">
                        <img src="{% static 'despre_noi/as_01.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                        <div style="margin-top: 10%;">
                            <p> <span class="subhead">L</span>orem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.
                            rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.<p>
                        </div>
                    </div>
                    <div class="col-5">
                        <pre class="menuitem" onclick="location.href = '/'" style="margin: 0%; padding: 0%; margin-right: 7%;">
                            M  E
                                    N  U 
                        </pre>
                        <img src="{% static 'despre_noi/as_02.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%; width:80%; margin-top: 10%; margin-right: 5%;">
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-5">
                            <img src="{% static 'despre_noi/as_03.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%; width:80%; margin-top: 10%; margin-right: 5%;">
                        </div>
                    <div class="col-7">
                        <div style="margin-top: 10%;">
                            <p> <span class="subhead">L</span>orem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.
                            rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.<p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-7">
                        <div style="margin-top: 10%;">
                            <p> <span class="subhead">L</span>orem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.
                            rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.<p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="{% static 'despre_noi/as_04.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%; width:80%; margin-top: 10%; margin-right: 5%;">
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-5">
                            <img src="{% static 'despre_noi/as_05.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%; width:80%; margin-top: 10%; margin-right: 5%;">
                        </div>
                    <div class="col-7">
                        <div style="margin-top: 10%;">
                            <p> <span class="subhead">L</span>orem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.
                            rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.<p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-7">
                        <div style="margin-top: 10%;">
                            <p> <span class="subhead">L</span>orem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.
                            rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.<p>
                        </div>
                    </div>
                    <div class="col-5">
                        <img src="{% static 'despre_noi/as_06.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%; width:80%; margin-top: 10%; margin-right: 5%;">
                    </div>
                </div>
                <div class="row" style="margin-top: 5%;">
                    <div class="col-5">
                            <img src="{% static 'despre_noi/as_07.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%; width:80%; margin-top: 10%; margin-right: 5%;">
                        </div>
                    <div class="col-7">
                        <div style="margin-top: 10%;">
                            <p> <span class="subhead">L</span>orem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.
                            rem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.<p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        //Get the button
        var mybutton = document.getElementById("myTopBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
{% endblock content %}