{% extends 'base.html' %}
{% load static %}
{% block title %}
	Home
{% endblock title %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'typewriting.js' %}"></script>
</head>

  

<div class="row" style="position: relative; z-index: 1;  width: 100%;">
    <div class="col-2">
        <button class="headitem" style="color: black; padding-left: 30%; padding-top: 2vh;" onclick="location.href = '/aboutus'"> DESPRE NOI </button>
        <div id="id_welcome" class="typed_text typeText" style="position:relative; z-index: 99; writing-mode: vertical-rl; text-orientation: mixed; ; margin-left: -10vw; "></div>
        {% comment %} <div style="font-size: 28vw;"> Welcome </div> {% endcomment %}
    </div>
      
    <div class="col-6" style="background-color: #121729; padding-top: 2vh;">
        <div class="row">
            <div class="col" style="padding-left: 5%;">
                <button class="headitem" type="submit" onclick="location.href = '/modele'">  MODELE </button>
            </div>
            <div class="col">
               <button class="headitem" type="submit" onclick="location.href = '/galerie'"> GALERIE </button>
            </div>
            <div class="col-6">
                <button class="headitem" type="submit" onclick="location.href = '/contact'"> CONTACT </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-3" style="padding-left: 0px;  padding-right: 0px;">
                <img src="{% static 'vs_logo.jpg' %}" draggable="false" class="img-fluid">
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row" style="height: 10vw">
            <div class="col">
            </div>
        </div>
        <div style="position: relative; margin-right: 20%; z-index: 9;">
            <div class="row" >
                <pre><h1 class="m_agency_txt"> M  O  D  E  L  S     A  G  E  N  C  Y </h1></pre>
            </div>
            <div class="row">
                <img src="{% static 'vs_title.jpg' %}" draggable="false" class="img-fluid">
            </div>
            <div class="row" style="color: white; padding-top: 4%; padding-bottom: 4%; padding-left: 10%; padding-right: 10%; word-wrap: break-word;  white-space: pre-wrap; text-align: center;">
                <h3 style="font-size: 1.5vw;">Lorem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit.</h3>
            </div>
            <div class="row" style=" display: flex; align-items: center; justify-content: center; padding-bottom: 10%;">
                <button class="find_out_btn gilroy" style="vertical-align:middle; width: 50%; font-size: 2vw; font-weight: bold;" onclick="location.href = '/aboutus'"><span>DESCOPERĂ MAI MULT</span></button>
            </div>
        </div>
    </div>
    <div class="col mt-3">
        <div class="input-group" style="width: 70%; margin-left: 30%; z-index: 9;">
            <i class="fa fa-search" style="font-size: 3vw;"></i>
            <input class="form-control py-2 rounded-pill mr-1 pr-5" value="Caută..." id="example-search-input">
            <span class="input-group-append">
                <button class="btn rounded-pill border-0 ml-n5" type="button">
                </button>
            </span>
        </div>
    </div>
    <div class="col mt-3" style="margin-right: 1%; z-index: 9;">
        <button class="btn apply_btn" type="button" style="vertical-align:middle;"><span><pre>A P L I C Ă</pre></span></button>
    </div>
    <div class="row" style="position: absolute;
        height: 100%; width: 100%;
        z-index: 1;
        margin: 30px;
       ">
    <div class="col-6">
    </div>
    <div class="col-5" style="margin-top: 23vh; margin-left: 5vw;">
        <img src="{% static 'main_catchphrase.jpg' %}" draggable="false" class="img-fluid">
    </div>
</div>
</div>
<script>
    var typeText = document.querySelector(".typeText")
    var textToBeTyped = "Welcome"
    var index = 0, isAdding = true

    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function playAnim() {
    setTimeout(function () {
        // set the text of typeText to a substring of the text to be typed using index.
        typeText.innerText = textToBeTyped.slice(0, index)
        if (isAdding) {
        // adding text
        if (index > textToBeTyped.length) {
            // no more text to add
            isAdding = false
            //break: wait 2s before playing again
            setTimeout(function () {
            playAnim()
            }, 2000)
            return
        } else {
            // increment index by 1
            index++
        }
        }
        /*else {
        // removing text
        if (index === 0) {
            // no more text to remove
            isAdding = true
        } else {
            // decrement index by 1
            index--
        }
        }*/
        // call itself
        playAnim()
    }, 300)
    if (index == textToBeTyped.length) {
        await sleep(500);
        $("#id_welcome").attr('class', 'typed_text');
    }
    }
    // start animation
    playAnim()
</script>
{% endblock content %}