{% extends 'base.html' %}
{% load static %}
{% block title %}
	Modele
{% endblock title %}
{% block content %}
    <div class="row h-100" style="overflow: hidden;">
        <button class="futura" onclick="topFunction()" id="myTopBtn" title="Go to top">back to top ────</button>
        <div class="col-3" style="background-color: #121729; text-align: center;">
            <img src="{% static 'vs_title.jpg' %}" draggable="false" class="img-fluid" style="width: 80%; margin-top: 10%; margin-left: 10%;  margin-right: 10%;">
            <pre><p class="futura" style="font-size: 1.5vw; color: #FFFFFF">C  L  U  J    N  A  P  O  C  A   •   R  O  M  A  N  I  A</p></pre>
            <pre><button class="apply_txt" id="myApplyBtn"> ───  A   P   L   I   C   Ă</button></pre>
            <pre><button class="catchphrase" id="myCatchPhrase" style="font-size: 5vw; color: #6f7070"> We'll show it</button></pre>
            <pre><button class="catchphrase" id="myCatchPhrase" style="transform: translateY(200%) rotate(-90deg); color: black; font-size: 2vw;"> Something special for you</button></pre>
        </div>
        <div class="col-9" style="text-align: center; margin-bottom: -30%; overflow: hidden">
            <pre class="futura" style="font-size: 4.0vw; margin-top: 1%; margin-bottom: 0%; padding-bottom: 0%;">M    O    D    E    L    E</pre>
            <pre class="menuitem" onclick="location.href = '/'" style="margin-top: 0%; padding-top: 0%;">
                M  E
                        N  U 
            </pre>
            {% comment %} IMG 1 LEFT {% endcomment %}
            <div class="row" style="margin-top: 0%; transform: translateY(-10%);">
                <div class="col-4">
                    <img src="{% static 'modele/m_01.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                </div>
                <div class="col-3" style="margin-left: 1%; display: flex;">
                    <div style="font-size: small; margin-bottom: 10%; align-self: flex-end;"> Lorem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit. </div>
                </div>
            </div>
            {% comment %} IMG 2 RIGHT {% endcomment %}
            <div class="row" style="margin-top: 0%;">
                <div class="col-7" style="margin-left: 1%; margin-top: auto; margin-bottom: auto; transform: translateY(-50%);">
                    <div style="font-size: small; "> Lorem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit. </div>
                </div>
                <div class="col-4" style="transform: translateY(-30%);">
                    <img src="{% static 'modele/m_02.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                </div>
            </div>
            {% comment %} IMG 3 LEFT {% endcomment %}
            <div class="row" style="margin-top: 0%; transform: translateY(-40%);">
                <div class="col-4">
                    <img src="{% static 'modele/m_03.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                </div>
                <div class="col-3" style="margin-left: 1%; display: flex;">
                    <div style="font-size: small; margin-bottom: 10%; align-self: flex-end;"> Lorem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit. </div>
                </div>
            </div>
            {% comment %} IMG 4 RIGHT {% endcomment %}
            <div class="row" style="margin-top: 0%; transform: translateY(-30%);">
                <div class="col-7" style="margin-left: 1%; margin-top: auto; margin-bottom: auto; transform: translateY(-50%);">
                    <div style="font-size: small; "> Lorem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit. </div>
                </div>
                <div class="col-4" style="transform: translateY(-30%);">
                    <img src="{% static 'modele/m_04.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                </div>
            </div>
            {% comment %} IMG 5 LEFT {% endcomment %}
            <div class="row" style="margin-top: 0%; transform: translateY(-70%);">
                <div class="col-4">
                    <img src="{% static 'modele/m_05.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                </div>
                <div class="col-3" style="margin-left: 1%; display: flex;">
                    <div style="font-size: small; margin-bottom: 10%; align-self: flex-end;"> Lorem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit. </div>
                </div>
            </div>
            {% comment %} IMG 6 RIGHT {% endcomment %}
            <div class="row" style="margin-top: 0%; transform: translateY(-60%);">
                <div class="col-7" style="margin-left: 1%; margin-top: auto; margin-bottom: auto; transform: translateY(-50%);">
                    <div style="font-size: small; "> Lorem ipsum dolor sit amet. Est doloremque saepe eligendi dolor et consequuntur repellat. Ut explicabo sequi qui asperiores natus quo iure natus qui amet dolor et impedit enim qui magni praesentium ut Quis fugit. </div>
                </div>
                <div class="col-4" style="transform: translateY(-30%);">
                    <img src="{% static 'modele/m_06.jpg' %}" draggable="false" class="img-fluid inline-photo show-on-scroll" style="margin-left: 5%;">
                </div>
            </div>
        </div>
    </div>
<script>
    //Get the button
    var mybutton = document.getElementById("myTopBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
{% endblock content %}